@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* shared styles  */
.text-primary {
    color: #FF5400;
    font-weight: 700px;
}

.btn-primary {
    background: #FF5400;
    color: #FFF;
    text-align: center;

}

/* header styls  */
.navbar-header {
    display: flex;
    max-height: 1250px;
    margin: 0 auto;
    border: none;
    min-height: 20px;


}

.nav-container {
    border: none;
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-container img {
    width: 48px;

}

.earth-title {
    margin-left: 5px;
    margin-right: 40px;
    font-size: 2.1rem;
    font-weight: 800;
}

.items-container {
    border: none;
    min-height: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-container a {
    display: block;
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}



main {
    margin-left: 150px;
    margin-right: 100px;
}

/* banner-section  */
.banner-section {
    border: none;
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 1180px;
    height: 500px;
    background: url('../Images/Group-13.png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title {
    text-align: center;
    padding-top: 150px;
    font-size: 4rem;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 0%;

}

.banner-sit {
    margin-left: 250px;
    color: #FFF;
    width: 675px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}


.find-btn-emt {
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    border: none;
    width: 170px;
    height: 52px;
    padding: 16px 40px;
    margin: auto;
    align-items: center;
    border-radius: 8px;


}

.find-btn-emr {
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    border: none;
    width: 170px;
    height: 52px;
    padding: 16px 40px;
    margin: auto;
    align-items: center;
    border-radius: 8px;


}

.outer {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    border: none;
    width: 816px;
    height: 84;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 150px;
    margin-right: 150px;
    padding: 16px;
    gap: 20px;

}

.find {
    background: #FF5400;
    color: #FFF;
    border: none;
    width: 170px;
    height: 52px;
    padding: 16px 40px;
    margin: auto;
    align-items: center;
    border-radius: 8px;
}

.find-icon {
    margin-left: 0px;
    width: 10px;
    height: 10px;
}

/* popular tours styles  */
.tours-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.tours-content {
    border: none;
    width: 500px;
    height: 550px;
}

.tours-title {
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0%;

}


.tours-pera li {
    margin-top: 0%;
    margin-right: 20px;
    font-size: 1rem;
    color: #5A5A5D;
    font-weight: 400;

}

.tours-img-container {
    border: none;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    width: 540px;
    height: 450px;
    margin-right: 200px;
}

.read {
    padding: 14px;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    margin-top: 20%;

}

/* destination tours styls */
.destination-title {
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0%;

}

.choose-pera {
    margin-top: 20px;
    margin-left: 345px;
    margin-right: 345px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.rowone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;


}

.first-imgrow {
    border: none;
    width: 573px;
    height: 300px;
    position: relative;
}

.rowtwo,
.thirdrow {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.secondrow-one {
    border: none;
    width: 374px;
    height: 286px;
    position: relative;
}

.secondrwo-two {
    border: none;
    width: 474px;
    height: 286px;
    position: relative;
}

.secondrwo-three {
    border: none;
    width: 274px;
    height: 286px;
    position: relative;
}



.thirdrow-one {
    border: none;
    width: 473px;
    height: 300px;
    position: relative;

}

.thirdrow-two {
    border: none;
    width: 673px;
    height: 300px;
    position: relative;

}

.centerr {
    position: absolute;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #FFF;
}

/* why choose us style */
.choose-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;


}

.hotel-img {
    margin-top: 32px;
    margin-left: 32px;
    border: none;
    width: 64px;
    height: 64px;
}

.fas {
    font-size: 64px;
    color: rgb(233, 10, 211);

}

.service {

    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
}

.hotel-img {
    font-size: 20px;
    color: orange;

}

.fa-map-location {
    font-size: 64px;
    color: rgb(255, 81, 0);
}

.Guarantee {
    margin-top: 24px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;

}

.hotel-title {
    color: #131318;
    margin-left: 32px;
    margin-right: 280px;
    margin-bottom: 0%;
    font-size: 24px;
    font-weight: 800px;

}

.hotel-pera {
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 55px;
    margin-bottom: 32px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

/* deals & Discounts section  */

.deals-imagesection {
    margin-top: 50px;

}

.deals-tour-pul {
    margin-top: 100px;
    border: 1px solid rgb(244, 241, 241);
    width: 1100px;
    height: 500px;
    border-radius: 16px;
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;

}

.deals-tour-bench {
    margin-top: 30px;
    border: 1px solid rgb(248, 242, 242);
    width: 1100px;
    height: 500px;
    border-radius: 16px;
    background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
}

.tour-times {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icone-bg {
    color: #FF5400;
}

.price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;

}

.btn-book {
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;


}

.discount-title {
    border: 1px solid rgb(246, 240, 240);
    margin: 56px 56px 56px 444px;
    width: 589px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.deals-tour-sata {
    margin-top: 30px;
    border: 1px solid rgb(239, 232, 232);
    width: 1100px;
    height: 500px;
    border-radius: 16px;
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
}

.discount-title-bench {
    border: 1px solid rgb(247, 244, 244);
    margin: 56px 56px 506px 56px;
    width: 589px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);

}

/* see-button  */

.see-button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin: 100px 630px;
}





/* a simple perfect place to get lost style */
.place-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.place-content {
    border: none;
    width: 573px;
    height: 424px;


}

.place-title {
    color: #131318;
    width: 448px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;

}

.place-pera {
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.place-list {
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;

}

.place-image {
    border: none;
    width: 573px;
    height: 424px;
    position: relative;

}

.see-more {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;

}

/* newsletter section style  */

.newsletter {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;


}

.newsletter-content {
    border: none;
    width: 450px;
    height: 422px;

}

.news-title {
    margin-top: 40px;
    margin-left: 40px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-pera {
    margin-top: 16px;
    margin-left: 40px;
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

hr {
    margin-left: 40px;
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}




.news-form input {
    margin-top: 16px;
    margin-left: 40px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    gap: 16px;

}

.subscribe {
    margin-top: 38px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-left: 40px;

}

.newsletter-bgimg {
    border: none;
    width: 672px;
    height: 422px;
    background: url("../Images/Rectangle\ 8.png") lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;

}

.save-button-border {
    border: none;
    margin-top: 200px;
    margin-left: 327px;
    margin-right: 0%;
    margin-bottom: 0%;
    background: none;
}

.save-button {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;


}

.btnsix-title {

    transform: rotate(-1.628deg);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0%;
}

.btnone-title {
    text-align: center;
    margin-top: 0%;
    transform: rotate(-1.628deg);
    color: #FFF;
    font-size: 32px;
    font-weight: 800;

}

/* earth-footer style  */

.earth-footer {
    margin-left: 175px;
    margin-top: 50px;
    border: none;
    width: 1380px;
    height: 400px;
    background: rgba(19, 19, 24, 0.05);

}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-left: 400px;
    margin-bottom: 0px;
}

.footer-pera {
    margin-top: 0%;
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 300px;
    margin-right: 135px;
}

.footer-icons {
    margin-top: 50px;
    margin-left: 500px;
    text-align: center;
    font-size: 2rem;
    width: 274px;
    height: 30px;
}

.hr-line {
    margin-top: 50px;
    margin-left: 300px;
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.rights {
    margin-top: 100px;
    margin-left: 600px;
    color: #131318;
    font-size: 16px;
    font-weight: 300;

}

@media screen and (max-width: 1200px) {}





@media screen and (max-width: 600px) {
    .navbar-header {
        flex-direction: column;
        margin-left: 50px;
    }

    .nav-container {
        width: 28px;
        height: 33px;

    }

    .items-container {
        
        flex-direction: column;
        margin-left: 50px;
        gap: 20px;
    }

    .nav-container img {
        width: 28px;
        height: 33px;
    }

    .earth-title,
    .trv {
        
        font-size: 20px;
        margin-left: 5px;
        margin-right: 0px;


    }


    .banner-section {
        width: 335px;
        height: 483px;
    }

    .banner-title {
        text-align: center;
        padding-top: 50px;
        font-size: 1rem;
        margin-bottom: 0%;

    }

    .banner-sit {
        width: 304px;
        margin-left: 30px;
        text-align: center;
        font-size: 14px;
    }


    .find-btn-emt {
        width: 255px;
        height: 52px;
        padding: 16px 40px;

    }

    .find-btn-emr {
        width: 255px;
        height: 52px;
        margin-top: 16px;
    }

    .find {
        align-items: center;
        margin-left: 0px;
        margin-top: 16px;
        width: 255px;
        height: 52px;
    }

    .outer {
        margin: 16px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 287px;
        height: 306px;


    }


    /* our popular tours section  */
    .tours-container {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
    }

    .tours-content {
        margin-top: 50px;
        border: none;
        width: 376px;

    }

    .tours-title {
        font-size: 20px;

    }

    .tours-pera li {
        margin-top: 0%;
        margin-right: 10%;
        font-size: 14px;


    }

    .tours-img-container {
        width: 335px;
        height: 300px;
    }

    .read {
        padding: 14px;
        width: 174px;
        height: 52px;


    }

    main {
        margin-left: 20px;
        margin-right: 20px;

    }

    /* image gallery section  */
    .destination-title {
        margin-top: 300px;
        text-align: center;
        font-size: 20px;


    }

    .choose-pera {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
        line-height: 24px;

    }

    .rowone {
        display: flex;
        flex-direction: column;
        gap: 16px;




    }

    .first-imgrow {
        border: none;
        width: 100%;
        height: 300px;
        position: relative;
    }

    .rowtwo,
    .thirdrow {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

    }

    .secondrow-one {
        border: none;
        width: 100%;
        height: 286px;
        position: relative;
    }

    .secondrwo-two {
        border: none;
        width: 100%;
        height: 286px;
        position: relative;
    }

    .secondrwo-three {
        border: none;
        width: 274px;
        height: 286px;
        position: relative;
    }



    .thirdrow-one {
        border: none;
        width: 473px;
        height: 300px;
        position: relative;

    }

    .thirdrow-two {
        border: none;
        width: 100%;
        height: 300px;
        position: relative;

    }

    /* Why Choose Us section  */
    .choose-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .hotel {

        width: 335px;
        height: 289px;


    }

    .hotel-img {
        margin-top: 16px;
        margin-left: 16px;
        border: none;
        width: 48px;
        height: 46px;
    }

    .fas {
        font-size: 20px;


    }

    .service {

        width: 335px;
        height: 289px;
    }

    .hotel-img {
        font-size: 20px;
        color: orange;

    }

    .fa-map-location {
        font-size: 48px;

    }

    .Guarantee {

        width: 335px;
        height: 289px;
        margin-left: 30px;

    }

    .hotel-title {
        margin-right: 80px;


    }

    .hotel-pera {
        width: 271px;
        font-size: 14px;
    }

    .hotel-pera {
        width: 271px;
        font-size: 14px;

    }

    .see-button {
        margin: 30px 30px;
    }


    /* deals & Discounts section  */

    .deals-imagesection {
        margin-top: 50px;

    }

    .deals-tour-pul {
        margin-top: 100px;
        border: 1px solid rgb(244, 241, 241);
        width: 335px;



    }

    .deals-tour-bench {
        margin-top: 30px;
        border: 1px solid rgb(248, 242, 242);
        width: 335px;
    }

    .tour-times {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .icone-bg {
        color: #FF5400;
    }

    .price {
        color: #FF5400;
        font-size: 20px;
        font-weight: 800;
        margin-left: 30px;

    }

    .btn-book {
        width: 150px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin-left: 30px;


    }

    .discount-title {
        border: 1px solid rgb(246, 240, 240);
        margin: 70px 20px 20px 20px;
        width: 303px;
        height: 389px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
    }

    .deals-tour-sata {
        margin-top: 30px;
        border: 1px solid rgb(239, 232, 232);
        width: 335px;
    }

    .discount-title-bench {
        border: 1px solid rgb(247, 244, 244);
        margin: 70px 20px 20px 20px;
        width: 303px;


    }

    /* a simple perfect place  */
    .place-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .place-content {
        border: none;
        width: 373px;
        height: 424px;
    }

    .place-title {

        width: 248px;
        font-size: 20px;
    }

    .place-pera {
        width: 332px;
        font-size: 14px;

    }

    .place-list {
        width: 318px;
        font-size: 14px;

    }

    .place-image {
        width: 100%px;
        height: 200px;
        margin: 150px;

    }

    .see-more {
        width: 174px;
        height: 52px;
        font-size: 18px;


    }

    /* newslatter section  */
    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 100px;


    }

    .newsletter-content {
        width: 350px;


    }

    hr {
        width: 288px;
    }


    .news-pera {
        width: 288px;
    }

    .news-form input {
        margin-top: 16px;
        width: 288px;
        height: 52px;
        border-radius: 8px;

    }

    .subscribe {
        margin-top: 38px;
        width: 288px;
        height: 52px;

    }

    .newsletter-bgimg {
        border: none;
        width: 335px;
        height: 300px;
        background: url("../Images/Rectangle\ 8.png") lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        border-radius: 16px;
        position: relative;

    }

    .save-button-border {
        border: none;
        margin-top: 120px;
        margin-left: 100px;
        margin-right: 0%;
        margin-bottom: 0%;
        background: none;
    }

    .save-button {
        width: 200px;
        height: 80px;

    }

    .btnsix-title {
        margin-top: 50px;
        font-size: 14px;
    }

    .btnone-title {
        font-size: 20px;

    }

    /* footer section  */

    .earth-footer {
        margin-left: 20px;
        margin-top: 50px;
        width: 400px;
        height: 309px;


    }

    .footer-content img {
        width: 28px;
        height: 33px;

    }

    .footer-content {
        display: flex;
        justify-content: center;
        margin-top: 110px;
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .footer-titlle {
        font-size: 20px;
    }

    .footer-pera {
        margin-top: 0%;
        width: 288px;
        text-align: center;
        font-size: 14px;
        margin-left: 30px;

    }

    .footer-icons {
        margin-top: 0px;
        margin-left: 50px;
        text-align: center;
        font-size: 1.5rem;
        width: 274px;
        height: 30px;
    }

    .hr-line {
        margin-top: 0px;
        width: 335px;
        margin-left: 10px;
    }

    .rights {

        margin-top: 10px;
        margin-left: 80px;
        color: #131318;
        font-size: 14px;
        font-weight: 300;

    }




}